/* =============================== common css part start here ==================================== */
* {
    margin: 0;
    padding: 0;
}

/* =============================== common css part end here ==================================== */
/* =============================== banner part start here ======================================= */
header .banner {
    border-radius: 16px;
    background-image: url(../images/gradient.png), url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 50px 140px 120px;
}

header .banner .main {
    display: flex;
    justify-content: center;
    text-align: center;
}

header .banner .text {
    padding: 177px 344px;
}

header .banner .text h3 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
}

header .banner .text h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    width: 632px;
}

/* =============================== banner part end here ======================================= */
/* =============================== catagories part start here =================================== */
#catagories h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}

#catagories h2 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

#catagories h3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}

#catagories .image {
    text-align: center;
    margin-bottom: 120px;
}

/* =============================== catagories part end here ======================================= */
/* =============================== party part start here ======================================== */
#midnight-party .container {
    background-image: url(../images/midnight-party.png), url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0px 140px 120px;
    display: flex;
    justify-content: center;
    column-gap: 39px;
}

#midnight-party .container img {
    padding: 68px 138px 67px 0;
}

#midnight-party .container .text {
    padding: 126px 0 142px 126px;
}

#midnight-party .container h4 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    width: 642px;
    margin-bottom: 24px;
}

#midnight-party .container p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 697px;
    margin-bottom: 48px;
}

#midnight-party .container a {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}

#midnight-party .details {
    background-image: url(../images/details-gradiant.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0px 140px 120px;
    text-align: center;
    padding: 100px 386px 110px;
    border-radius: 10px;
}

#midnight-party .details p {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

#midnight-party .details button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    border: 0;
    margin-top: 48px;
}

/* =============================== party part end here ========================================== */
/* =============================  best  offer part start here ==================================  */
#best-offer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

#best-offer .container .coming-soon h5 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

#best-offer .container .coming-soon {
    margin-right: 70px;
}

#best-offer .container .coming-soon h6 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 22px;
}

#best-offer .container .coming-soon p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 393px;
}

#best-offer .container .image {
    border-radius: 50%;
    border: 15px solid #F00;
    text-align: center;
    padding: 50px;
    margin-right: 118px;
}

#best-offer .container .new-year-part h2 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}

#best-offer .container .new-year-part p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 43px;
    width: 276px;
}

/* =============================  best  offer part end here ==================================  */
/* =============================== holidays part start here ======================================= */
#holidays-part {
    text-align: center;
    margin: 0 266px 120px;
}

#holidays-part h3 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

#holidays-part span {
    color: #F00;
}

#holidays-part h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 28px;
}

#holidays-part p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

#holidays-part .discount-part {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    position: relative;
}

#holidays-part .discount-part .btn {
    position: absolute;
    margin: 90px 0px 0px 467px;
}

/* =============================== holidays part end here ======================================= */
/* =============================== portfolio part start here ==================================== */
#portfolio-part {
    margin-left: 140px;
    margin-bottom: 120px;
}

#portfolio-part .container {
    display: flex;
    justify-content: center;
}

#portfolio-part h4 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

#portfolio-part h5 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 22px;
}

#portfolio-part p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
    width: 896px;
}
#portfolio-part .image-container img:hover{
    border: 2px solid red;
    transition: all linear 0.4s;

}
#portfolio-part .image-container .image-part-one {
    margin-bottom: 24px;
}

#portfolio-part .image-container .image-part-one img {
    margin-right: 24px;
}

#portfolio-part .image-container .image-part-two img {
    margin-right: 24px;
}

/* =============================== portfolio part end here ==================================== */
/* =============================== newsletter part start here ==================================== */
#newsletter-part .main {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding: 80px 212px 80px;
    margin: 0 140px 120px;
}

#newsletter-part .main .img {
    text-align: center;
}

#newsletter-part .main h2 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 22px;
}

#newsletter-part .main p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
}

#newsletter-part .main .btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

#newsletter-part .main .input-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    background: #FFF;
    width: 648px;
    text-align: center;
}

#newsletter-part .main .input-btn input {
    border: 0;
    outline: 0;
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#newsletter-part .main .input-btn button {
    border-radius: 0 50px 50px 0;
    background: #F00;
    border: 0;
    outline: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    padding: 24px 56px;
}

/* =============================== newsletter part end here ==================================== */
/* ===============================footer part start here ====================================== */
footer {
    background: #070211;
    padding: 120px 275px 120px 140px;
}

footer .container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

footer .container .address p {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

footer .container .phone-email i {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    color: #FFF;
    margin-right: 16px;
}

footer .container .phone-email p {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

footer .icon {
    text-align: center;
    margin: 48px 0;
}

footer .last-part {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

footer .last-part p {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* ===============================footer part end here ======================================= */